@model WebExplorer.Infrastructure.Folder
@{
    ViewBag.Title = Model.Name;
}

<h1>Folder: @Model.Name</h1>

@if (Model.Children.Any())
{
    <ul class="child_folders">
        @foreach (var child in Model.Children)
        {
            <li>
                @Html.RouteLink(child.Name, "FolderExplorer", new {path = child.Alias.Path})
            </li>
        }

    </ul>
}
else
{
    <p>Empty folder.</p>
}