@model WebExplorer.Entities.Folder

@{
    ViewBag.Title = "Home Page";
}

<h1>Main page</h1>

@* Folder: @Model.Name *@
@* *@
@* Sub-folders:  *@
@* *@
@* @foreach (var folder in Model.Children) *@
@* { *@
@*     <p>@folder.Name</p> *@
@* } *@